body {
  /**background-color: aliceblue;**/
  background-image: url(https://uhdwallpapers.org/uploads/converted/18/03/15/squirrel-1920x1080_94688-mm-90.jpg);
}

h1 {
  color: black;
}

div {
  width: 20%;
  margin-left: 5%;
}

button {
  margin-top: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#get {
  margin-top: 5px;
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 10px;
}

a:link,
a:hover a:active {
  color: white;
}
a:visited {
  color: orange;
}
.form{
  font-weight: bold;
}
.pages{
  font-weight: bold;
}
